<!DOCTYPE html>
<html <%=` lang=${config.language || 'zh-CN'}` %>>
  <%- partial('_partial/head', {}, { cache: false }) %>
  <body>
    <%- partial('_partial/header', {}, { cache: false }) %>
    <main>
      <%- body %>
    </main>
    <%- partial('_partial/footer', {}, { cache: true }) %>
    <%- partial('_partial/scripts', {}, { cache: true }) %>
  </body>
</html>